@use 'fonts';
@use 'reset';
@use 'variables';

body {
  font-family: var(--font-family);
  background-color: #1d2228;
  color: #ffffff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.app-container {
  max-width: 1366px;
  margin: 0 auto;
  padding-block: 0;
  padding-inline: 24px;
}
