@use 'fonts';
@use 'reset';
@use 'variables';

body {
  font-family: var(--font-family);
  background-color: #1d2228;
  color: #ffffff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.app-container {
  max-width: 1366px;
  margin: 0 auto;
  padding-block: 0;
  padding-inline: globalFunctions.fluidValue(12px, 24px, 375px, 1366px);
  width: 100%;
}

*::-webkit-scrollbar {
  width: var(--sb-size);
  height: var(--sb-size);
}

*::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 99px;
}

*::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 99px;
}

@supports not selector(::-webkit-scrollbar) {
  * {
    scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
    scrollbar-width: thin;
  }
}
